In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Last.fm_data.csv")

In [3]:
df.head()

,Unnamed: 0,Username,Artist,Track,Album,Date,Time
0,0,Babs_05,Isobel Campbell,The Circus Is Leaving Town,Ballad of the Broken Seas,31 Jan 2021,23:36
1,1,Babs_05,Isobel Campbell,Dusty Wreath,Ballad of the Broken Seas,31 Jan 2021,23:32
2,2,Babs_05,Isobel Campbell,Honey Child What Can I Do?,Ballad of the Broken Seas,31 Jan 2021,23:28
3,3,Babs_05,Isobel Campbell,It's Hard To Kill A Bad Thing,Ballad of the Broken Seas,31 Jan 2021,23:25
4,4,Babs_05,Isobel Campbell,Saturday's Gone,Ballad of the Broken Seas,31 Jan 2021,23:21

In [4]:
df_new = df.drop(['Artist', 'Album', 'Date', 'Time'], axis=1)

In [5]:
df_new.head()

   Unnamed: 0 Username                          Track
0           0  Babs_05     The Circus Is Leaving Town
1           1  Babs_05                   Dusty Wreath
2           2  Babs_05     Honey Child What Can I Do?
3           3  Babs_05  It's Hard To Kill A Bad Thing
4           4  Babs_05                Saturday's Gone

In [6]:
unique_user = pd.DataFrame(df["Username"].unique(), columns=["Username"]).reset_index()
unique_track = pd.DataFrame(df["Track"].unique(), columns=["Track"]).reset_index()

unique_user.to_csv('users.csv', index=False, encoding='utf-8-sig')
unique_track.to_csv('tracks.csv', index=False, encoding='utf-8-sig')

In [7]:
unique_name = df['Username'].unique()
data_new = pd.DataFrame()

In [8]:
print(data_new)

Empty DataFrame
Columns: []
Index: []

In [9]:
for name in unique_name:
    tmp = df.loc[df["Username"] == name]
    df_new = tmp["Track"].value_counts().reset_index()
    data_new = pd.concat([data_new, df_new.assign(name=name)], ignore_index=True)

In [10]:
data_new = data_new.merge(unique_user, left_on="name", right_on="Username", how="left").drop(columns=["name", "Username"]).rename(columns={"index": "id_user"})
data_new = data_new.merge(unique_track, left_on="Track", right_on="Track", how="left").drop(columns=["Track"]).rename(columns={"index": "id_track"})

In [11]:
data_new.to_csv('data_playcount.csv', index=False, encoding='utf-8-sig')