In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

import pandas as pd
from pandas import read_csv
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.manifold import TSNE

import warnings
warnings.filterwarnings('ignore')

In [3]:
newtracks = pd.read_csv('Last.fm_data.csv')
# newtrack2 = pd.read_csv('spotify_songs.csv')

# Hiển thị thông tin tổng quan về dữ liệu
print(newtracks.info())
# print(newtrack2.info())

# Hiển thị một vài dòng đầu tiên
display(newtracks.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166153 entries, 0 to 166152
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  166153 non-null  int64
 1   Username    166153 non-null  object
 2   Artist      166153 non-null  object
 3   Track       166153 non-null  object
 4   Album       166141 non-null  object
 5   Date        166153 non-null  object
 6   Time        166153 non-null  object
dtypes: int64(1), object(6)
memory usage: 8.9+ MB
None

,Unnamed: 0,Username,Artist,Track,Album,Date,Time
0,0,Babs_05,Isobel Campbell,The Circus Is Leaving Town,Ballad of the Broken Seas,31 Jan 2021,23:36
1,1,Babs_05,Isobel Campbell,Dusty Wreath,Ballad of the Broken Seas,31 Jan 2021,23:32
2,2,Babs_05,Isobel Campbell,Honey Child What Can I Do?,Ballad of the Broken Seas,31 Jan 2021,23:28
3,3,Babs_05,Isobel Campbell,It's Hard To Kill A Bad Thing,Ballad of the Broken Seas,31 Jan 2021,23:25
4,4,Babs_05,Isobel Campbell,Saturday's Gone,Ballad of the Broken Seas,31 Jan 2021,23:21

In [5]:
#Create new columns display listen count form user
newtracks['listen_count'] = newtracks.groupby(['Username', 'Track']).cumcount() + 1
# Display the first few rows to verify
print(newtracks.columns)

Index(['Unnamed: 0', 'Username', 'Artist', 'Track', 'Album', 'Date', 'Time',
       'listen_count'],
      dtype='object')