In [6]:
import pandas as pd
import numpy as n
import implicit

In [9]:
df=pd.read_csv("data (1).csv" )

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125763 entries, 0 to 125762
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Track   125763 non-null  object
 1   count   125763 non-null  int64
 2   name    125763 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.9+ MB

In [11]:
df.head()

                 Track  count     name
0      Peur des filles     50  Babs_05
1    Should've Said It     50  Babs_05
2      A World Divided     39  Babs_05
3       Lustrous Heart     38  Babs_05
4  Rolling Ocean Waves     38  Babs_05

In [12]:
df.tail()

                                            Track  count     name
125758                Nothing Breaks Like A Heart      1  Orlenay
125759  A Boat To An Island Pt. 2 / Agatha's Song      1  Orlenay
125760                        Crazy World and You      1  Orlenay
125761                        Who Else Could I Be      1  Orlenay
125762             Closest approach to your Orbit      1  Orlenay

In [13]:
df.isnull().sum()

Track    0
count    0
name     0
dtype: int64